PORT=3000
GME_BASE_URL=https://api.mercatoelettrico.org/request
GME_USERNAME=INSERISCI_USERNAME_GME
GME_PASSWORD=INSERISCI_PASSWORD_GME
# Data iniziale test in formato YYYYMMDD; se vuoto usa data odierna
GME_TEST_DATE=20260614
